# dependencies
node_modules/

# build output
dist/

# environment variables
.env

# system files
.DS_Store
Thumbs.db

# local editor settings
.vscode/

# temp scripts
scripts/addProjectsToFirebase.js
firebase/addFakeProjects.js

# Firebase setup and rules (local only)
FIREBASE_SECURITY_RULES.md
FIREBASE_SETUP.md

# Preview images
/Preview